:root{
    --fontColor1:#ffabe1;
    --fontColor2:#FFE6F7;
    --fontColor3:#937DC2;
    --backgroundColor:#100F0F;
}
.hero__main__wrapper > h2{
    text-align: center;
    margin-top:100px;
    font-size: 40px;
    color: var(--fontColor2);
    transition: 0.2s ease-in-out 0s;
}
.hero__main__wrapper > h2 > span {
    text-transform: uppercase;
    color: var(--fontColor1);
    transition: 0.2s ease-in-out 0s;
}
.hero__wrapper{
    display: flex;
    margin-top: 100px;
    justify-content: space-around; 
    /* text-align: center; */
    transition: 0.2s ease-in-out 0s;
      
}
.hero__wrapper > h2 {
    text-align: center;

}
/* box */
.heroBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffabe1;
    border-radius: 10px;
    /* height: 80px;
    width: 400px; */
    padding: 5px 20px;
    transition: 0.2s ease-in-out 0s;
    cursor: pointer;
}
.heroBox:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffabe1;
    border-radius: 10px;
    /* height: 80px;
    width: 400px; */
    padding: 5px 20px;
    scale: 1.1;
    transition: 0.2s ease-in-out 0s;
}

.address{
    opacity: 0.5;
    font-weight: lighter;
    transition: 0.2s ease-in-out 0s;
}
.boxname{
    text-transform: capitalize;
}
.heroBox > img{
    width: 25px;
    cursor: pointer;
    transition: 0.2s ease-in-out 0s;
}
/* left */
.hero__left{
    display: flex;
    /* background-color:blue; */
    flex: 1;
    align-items: center;

}

.hero__left .heroBox > p{
    /* margin: 0px 10px; */
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.2s ease-in-out 0s;
}
.hero__middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: red; */
    text-align: center;
    align-items: center;
}
.hero__middle > .button {
    padding: 5px 20px;
    color: var(--fontColor2);
    background-color: transparent;
    border: 1px solid var(--fontColor1);
    align-items: center;
    text-align: center;
    width: 180px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in-out 0s;
}
.hero__middle > .button:hover {
    padding: 5px 20px;
    color: var(--fontColor3);
    background-color: var(--fontColor1);
    align-items: center;
    text-align: center;
    width: 180px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    scale: 1.1;
    transition: 0.2s ease-in-out 0s;
}

.button > span {
    color: #FFE6F7;
    transition: 0.2s ease-in-out 0s;
}
.hero__middle .p {
    margin-top: 60px;
    color: var(--fontColor2);
}
.hero__middle > p > span {
    color: var(--fontColor3);
    transition: 0.2s ease-in-out 0s;
}
/* .hero__middle > h2 {
    font-size: 40px;
    color: var(--fontColor2);
}
.hero__middle > h2 > span{
    text-transform: uppercase;
    color: var(--fontColor1);
} */
.hero__right{
    flex:1;
    float: right;
    
    /* background-color: blueviolet; */
    /* padding: 0px 30px; */
}


.hero__right > .heroBox{
    width: 250px;
    float: right;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out 0s;
}
.hero__right > .heroBox  p {
color: var(--fontColor2);
font-weight: lighter;
}
.hero__right > .heroBox > span {
    color: var(--fontColor3);
    margin-right: 20px;
}

@media only screen and (max-width:1399px){}
@media only screen and (max-width:1199px){}
@media only screen and (max-width:992px){
    .hero__wrapper{
        display: flex;
        margin-top: 100px;
        justify-content: space-around; 
        /* text-align: center; */
        flex-direction: column;
          
    }
    .hero__left{
        display: flex;
        flex-direction: column;
        align-items: center;
  
        margin-top: -50px;
        margin-bottom: 20px;
    }
    .hero__right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width:767px){
    .hero__left{
        display: none;
    }
    .hero__right{
        display: none;
    }
}
@media only screen and (max-width:600px){
    .hero__left{
        display: none;
    }
    .hero__right{
        display: none;
    }
}
@media only screen and (max-width:499px){
    .hero__left{
        display: none;
    }
    .hero__right{
        display: none;
    }
}