.navbar__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__right > div {
    margin-right: 20px;
    cursor: pointer;
}
.navbar__left > img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
    cursor: pointer;
    transition: 0.2s ease-in-out 0s;
}
.navbar__left > h2{
    font-size: 50px;
    transition: 0.2s ease-in-out 0s;
}
.navbar__left > h2:hover{
    font-size: 50px;
    cursor: pointer;
    transform: scale(1.1);
}

.navbar__right > img{
    width: 30px;
    height: 30px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.2s ease-in-out 0s;
}
.navbar__right > p {
    cursor: pointer;
    transition: 0.2s ease-in-out 0s;
}
.navbar__middle{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.winner{
    cursor: pointer;
}
.modal__wrapper_nav{
    position: absolute;
    /* left: 50%; */
    margin-left:400px;
    top: 100px;
}
/* @media only screen and (max-width:1399px){}
@media only screen and (max-width:1199px){}
@media only screen and (max-width:992px){}
@media only screen and (max-width:767px){}
@media only screen and (max-width:600px){}
@media only screen and (max-width:499px){} */
@media only screen and (max-width:1399px){
    .modal__wrapper_nav{
        position: absolute;
        /* left: 50%; */
        margin-left:300px;
        top: 100px;
    }
}
@media only screen and (max-width:1199px){
    .modal__wrapper_nav{
        position: absolute;
        /* left: 50%; */
        margin-left:200px;
        top: 100px;
    }
}
@media only screen and (max-width:992px){
    .modal__wrapper_nav{
        position: absolute;
        /* left: 50%; */
        margin-left:100px;
        top: 100px;
    }
}
@media only screen and (max-width:767px){
    .modal__wrapper_nav{
        position: absolute;
        /* left: 50%; */
        margin-left:50px;
        top: 200px;
    }
}
@media only screen and (max-width:600px){
    .navbar__left > h2{
        font-size: 20px;
        transition: 0.2s ease-in-out 0s;
    }
    .navbar__left > img{
        display: none;
    }
    .navbar__right > img{
        display: none;
    }
    .modal__wrapper_nav{
        position: absolute;
        /* left: 50%; */
        margin-left:50px;
        top: 200px;
    }
}
@media only screen and (max-width:499px){}